
       body {

        background-color: rgba(26, 232, 229, 0.373);

    }
    
h2{
    color: rgb(4, 4, 5);
    font-weight: 50;
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
    font-style:oblique;
    text-align: center;

}

p{
    color: rgb(4, 4, 5);
    font-weight: 50;
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-style:oblique;
    text-align: center;

}


ul{

    color: rgb(4, 4, 5);
    font-weight: 800;
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
    font-style: oblique;
    text-align: center;
    text-decoration-line: underline;
}


       h1{color: rgb(43, 67, 226);
        font-weight: 50;
            text-align: center;
            display: block;
            margin-right: auto;
            margin-left: auto;
        font-style:oblique;
        text-align: center;
    }


       .ecran{ 
              
    width: 100%; 
        height: 80vh; 
        background-image: url("../IMAGES/Japon.jpg"); 
        background-position: center; 
        background-size: cover;
        display: flex; 
        align-items: center; 
        justify-content: center; 
       
       } 
       
       a:-webkit-any-link {
         color: rgb(17, 12, 12);
         cursor: pointer;
         text-decoration: none;
     }
   
     .carte{ 
        width: 450%; 
        max-width: 400px; 
        color: aliceblue; 
        text-align: center; 
        padding: 60px 220px; 
   
        border: 4px solid rgba(255,255,255, 0.3); 
        background: rgb(255, 255, 255); 
        border-radius: 20px; 
        box-shadow: 10px 30px rgba(19, 17, 17, 0.861); 
        backdrop-filter: blur(5px); 
       
       } 
       
       .carte img{ 
       width: 300px; 
        border-radius: 20%; 
       
       } 
       
       .carte .reseau img{ 
       
       width: 100px; 
       border-radius: 10%; 
       margin: 10px 10px; 
       
       } 
       
  

       footer{
    
        background-clip: unset;
             background-position: center; 
             background-size: cover;
             display: flex; 
             align-items: center; 
             justify-content: center; 
            }
  
    
 